
.products{
	margin: 50px;
	background: white;
	width:100%
	height:100%

}
.products {
	width:400px;
	padding: 10px;

}

.grid-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}






	 
.one img{
	position: relative;
	top: 20px;
	left: 20px;
	width: 4%;	
	
}

.name img{
	position: relative;
	width: 15%;
	left: 120px;
	top: -40px;

	
}
	
.two ul li{
	position: relative;
	left: 800px;
	top: -80px;
	display: inline;
	margin: 15px ;
	color: LightGray;
	cursor: pointer;
	font-size: 18px;

}


.two a:hover {
 	color: Black;		
}
.two li:hover {
 	color: Black;		
}
.two :visited{
color: LightGray;
}
.two li a{
text-decoration: none;
}

.products ul li{
list-style-type: none;
display: inline;
margin: 15px ;
}



.index-bg{
	background-image: url("fam.jpg");	
}
.page3-bg{
background-color: white;
}

.page4-bg{
background-color: white;
}




